#user-profile-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;
}
.profile-card{
    border: solid 1px rgb(207, 179, 179);
    width: 100%;
    padding: 5px;
}
h1{
    text-align: center;
}